@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


/* Custom Styles for Bistro Bliss Theme */
:root {
  --neutral-01: #FFFFFF;
  --neutral-02: #f9f9f7;
  --neutral-03: #dbdfd0;
  --neutral-04: #A7A747;
  --neutral-05: #737865;
  --neutral-06: #414536;
  --neutral-07: #2c2f24;
  --neutral-08: #394245;
  --primary: #FFFFFF;
  --red1: #AD343E;
   --content-padding: 151px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  color: var(--neutral-05);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', serif;
  font-weight: 700;
  color: var(--neutral-05);
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
}

/* Add this to your global CSS file */
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/fonts/AktivGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/AktivGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/fonts/AktivGrotesk-Medium.woff2') format('woff2'),
       url('/fonts/AktivGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('/fonts/AktivGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/AktivGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}